{% extends "base.html" %}

{% block page_title %}
    <title>Logged Out</title>
{% endblock page_title %}

{% block main_content %}

<section class="p-t-20">
    <div class="container">
        <h1>Logged out</h1>
        <br>

        <div>
            <i class="fas fa-quote-left"></i>
            <span class="h6">&ensp;Thanks for spending your quality time with this web site today.&ensp;</span>
            <i class="fas fa-quote-right"></i>
        </div>
        <br>

        <p class="font-italic"><a href="{% url 'login' %}">Log in again</a></p>
    </div>
</section>

{% endblock main_content %}

