{% extends "base.html" %}
{% load widget_tweaks %}

{% block page_title %}
    <title>Login</title>
{% endblock page_title %}


{% block main_content %}

<section class="p-t-20">
    <div class="container">

        <h1>Please Login</h1>
        <p class="font-italic">Please enter your ID and Password.</p>
        <br />

        {% if form.errors %}
        <div class="alert alert-danger">
            <div class="font-weight-bold">Wrong! Please correct the error(s) below.</div>
            {{ form.errors }}
        </div>
        {% endif %}

        <form action="." method="post" class="card pt-3">{% csrf_token %}

            <div class="form-group row">
                {{ form.username|add_label_class:"col-form-label col-sm-2 ml-3 font-weight-bold" }}
                <div class="col-sm-5">
                    {# {{ form.username|add_class:"form-control"|attr:"autofocus" }} #}
                    <input type="text" name="username" autofocus autocapitalize="none" autocomplete="username" maxlength="150" class="form-control" required id="id_username">
                </div>
            </div>
            <div class="form-group row">
                {{ form.password|add_label_class:"col-form-label col-sm-2 ml-3 font-weight-bold" }}
                <div class="col-sm-5">
                    {{ form.password|add_class:"form-control" }}
                </div>
            </div>

            <div class="form-group">
                <div class="offset-sm-2 col-sm-5">
                    <input type="submit" value="Log in" class="btn btn-info"/>
                    <input type="hidden" name="next" value="{{ next }}" />
                </div>
            </div>
        </form>

    </div>
</section>

{% endblock main_content %}

